.about-us {
  margin-top: 20vh;
  margin-bottom: 50px;
}

.about-info-container {
  text-align: center;
  margin-bottom: 10vh;
}

.about-info-container h2 {
  opacity: .7;
  font-weight: 200;
}

.about-info-container h1 {
  font-size: 3rem;
}

.about-info-container p {
  font-size: .8rem;
  max-width: 75%;
  margin: 0 auto;
}

.about-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1250px;
  margin: 0 auto;
}

.about-content {
  /* width: 20%; */
  height: 450px;
  padding: 20px;
  border: solid var(--color1) 1px;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
}

.about-content p {
  padding: 0 20px;

}

.about-image {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-image.drop {
  height: 30vh;
}


.about-story {
  position: relative;
  height: 650px;
  max-width: 1250px;
  margin: 0 auto 50px auto;
}

@media screen and (max-width: 1400px) {
  .about-image-container {
    padding: 0 5vw;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .about-content {
    height: 400px;
  }
}


@media only screen and (max-width: 800px) {
  .about-us {
    margin-bottom: 0;
  }
  .about-info-container h1 {
    font-size: 3rem;
  }

  .about-story {
    margin: 0 auto 50px auto;
    height: 850px;
  }
  .info-layer.color {
    height: 550px;
  }
  .about-info-container {
    padding: 0 5vw;
  }

  .about-image-container {
    display: block;
    padding: 0 5vw;
  }
  .about-content {
    width: 100%;
    margin-bottom: 50px;
    /* padding: 20px; */
    padding: 20px 0;
    border-radius: 10px;
    height: 250px;
  }

  .about-content p {
    padding: 0 5vw;
  }
  .about-image {
    height: 100px;
    width: 100px;
  }
}

@media  screen and (max-width: 500px) {
  .about-content {
    height: 300px;
  }

  .about-story {
    margin: 0 auto 50px auto;
    height: 1050px;
  }
  .info-layer.color {
    height: 750px;
  }
}
