.about-us {
  margin-top: 20vh;
  margin-bottom: 50px;
}

.about-info-container {
  text-align: center;
  margin-bottom: 10vh;
}

.about-info-container h2 {
  opacity: .7;
  font-weight: 200;
}

.about-info-container h1 {
  font-size: 3rem;
}

.about-info-container p {
  font-size: .8rem;
  max-width: 45%;
  margin: 0 auto;
}

.about-image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

.about-content {
  width: 30%;
  text-align: center;
}

.about-image {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-image.drop {
  height: 30vh;
}


.about-story {
  position: relative;
  height: 650px;
  max-width: 1250px;
  margin: 0 auto 50px auto;
}


@media only screen and (max-width: 800px) {
  .about-info-container h1 {
    font-size: 3rem;
  }

  .about-story {
    margin: 0 auto 50px auto;
    height: 850px;
  }
  .info-layer.color {
    height: 550px;
  }
  .about-info-container {
    padding: 0 5vw;
  }

  .about-image-container {
    display: block;
  }
  .about-content {
    width: 100%;
  }

  .about-content p {
    padding: 0 5vw;
  }
  .about-image {
    height: 100px;
    width: 100px;
  }
}
