.home-page {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1686307576/WhatsApp_Image_2023-05-24_at_12.05.43_l5jgli.jpg);
  height: 100vh;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
}

.home-page-container h1 {
  font-size: 5rem;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.home-page-container h3 {
  font-weight: 200;
  margin-bottom: 0;
  color: white;
}

.home-page-container p {
  font-weight: 300;
  max-width: 700px;
  color: white;
}

.home-page-container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin-bottom: 20px;
}

.stat {
  width: 30%;
}

.stat p {
  margin-bottom: 20px;
  margin-top: 5px;
}


@media  only screen and (min-width: 1px) and (max-width: 1250px) {
  .home-page, .home-page-about, .design-section, .home-page-about, .home-page-our-service, .home-page-gallery {
    padding: 0 5vw;
  }

  .home-page {
    padding-top: 50px;
  }

  .stat {
    width: 300px;
    margin-right: 20px;
  }

  .stat h3 {
    margin-right: 50px;
  }

}

/* section 2 */

.design-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 10vh auto;
}

.design-container p {
  max-width: 40%;
  font-size: .9rem;
}

.design-container h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
}

.design-container h2 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.design-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 10vh auto 5vh auto;
}

.design-image {
  height: 15vw;
  width: 22%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  object-fit: cover;
  border-radius: 10px;
}

.button.gallery {
  margin: 0 auto;
  display: flex;
  margin-bottom: 10vh;
}

/* about section */
/* NOTE: css for layers is in index.css  */

.home-page-about {
  position: relative;
  height: 60vh;
  max-width: 1250px;
  margin: 0 auto;
}


/* our service section */

.home-page-our-service {
  background: linear-gradient(to right, var(--light-color1) 0, var(--light-color1) 30vw, var(--color1) 30vw, var(--color1) 100%);
}

.our-service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10vh auto;
  width: 100%;
  max-width: 1250px;

}

.service-left {
  width: 30%;
  height: 40vh;
  display: flex;
  margin: auto;
  align-items: center;
  color: var(--color2);
  justify-content: space-evenly;
}
.service-right {
  width: 70%;
  color: var(--color2);
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

.service-right h3 {
  color: var(--color3);
}

.button.spec {
  font-size: 1rem;
  width: 130px;
  text-align: center;
}

@media  only screen and (max-width: 1000px) {
  .home-page-our-service {
    background: linear-gradient(to bottom, var(--light-color1) 0, var(--light-color1) 22vh, var(--color1) 22vh, var(--color1) 100%);
  }
  .our-service-container {
    display: block;
  }

  .service-right {
    width: 100%;
    padding: 0;
    text-align: center;
    height: auto;
    padding: 25px 0 25px;
  }

  .service-left {
    padding: 25px 0 25px;
    height: auto;
  }
}

/* gallery section  */

.home-page-gallery {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 1250px;
  margin: 0 auto 10vh auto;
}

.gallery-image-container {
  /* position: relative */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 40vw;
}

.gallery-image {
  /* position: absolute; */
  height: 30vh;
  width: 20vw;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);

}

.gallery-image.drop{
  margin-top: 20px;
  margin-left: 10px;
}

.gallery-info {
  width: 40vw;
  height: auto;
}

.gallery-info p {
  opacity: .7;
  font-size: .8rem;
  margin-bottom: 40px;
  /* font-weight: 2; */
}

.gallery-info h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.gallery-info h3 {
  margin-top: 0;
  font-weight: 200;
}

.gallery-info div {
  /* background-color: var(--color2); */
  border: solid var(--color1) 1px;
  padding: 40px;
  /* box-shadow: 1px 1px 2px rgba(0,0,0,0.4); */
  border-radius: 10px;

}
