.home-page {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1686303822/image1_ai7uyu.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15vh 0 5vh 0;
  margin: 0 auto;
}

.home-page-container {
  max-width: 1250px;

}

.home-page-container h1 {
  font-size: 5rem;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.home-page-container h3 {
  font-weight: 200;
  margin-bottom: 0;
  color: white;
}

.home-page-container p {
  font-weight: 300;
  max-width: 700px;
  color: white;
}

.home-page-container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin-bottom: 20px;
}

.stat {
  width: 30%;
}

.stat p {
  margin-bottom: 20px;
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .home-page-container h1 {
    font-size: 3.5rem !important;
  }

  .home-page {
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0.5)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1686303822/image1_ai7uyu.jpg);
    background-color: var(--color1);
    padding: 15vh auto 5vh auto !important;
    background-position: center;
    text-align: center;
  }


  .stats-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .stat {
    width: 30% !important;
  }

  .stat p {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-right: 0;
  }

  .stat h3 {
    margin-right: 0px !important;
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .home-page-about, .design-section, .home-page-about, .service-right, .home-page-gallery, .contact-form {
    padding: 0 5vw !important;
  }

  .home-page {
    padding: 12vh 5vw 5vh 5vw;
  }
}


@media  only screen and (min-width: 601px) and (max-width: 1400px) {
  .home-page-about, .design-section, .home-page-about, .service-right, .home-page-gallery, .contact-form {
    padding: 0 5vw !important;
  }

  .home-page {
    padding: 15vh 5vw 5vh 5vw;
  }

  .stat {
    width: 300px;
  }

  .stat h3 {
    margin-right: 50px;
  }

}

/* section 2 */

.design-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 10vh auto;
}

.design-container p {
  max-width: 40%;
  font-size: .9rem;
}

.design-container h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
}

.design-container h2 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.design-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 10vh auto 5vh auto;
}

.design-image {
  height: 15vw;
  width: 22%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  object-fit: cover;
  border-radius: 10px;
  transition: transform .3s ease;

}

.design-image:hover {
  transform: scale(1.02);
}

.button.gallery {
  margin: 0 auto;
  display: flex;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 600px) {
  .design-container {
    display: block;
  }

  .design-container p {
    max-width: 100%;
  }

}

/* about section */
/* NOTE: css for layers is in index.css  */

.home-page-about {
  position: relative;
  height: 750px;
  max-width: 1250px;
  margin: 0 auto;
}

.social-media-icon-container {
  width: 100%;
  padding-left: 0;
}

.social-media-icon {
  margin-right: 20px;
  font-size: 1rem;
  height: 30px;
  color: var(--color3);
}



/* our service section */

.home-page-our-service {
  /* background: linear-gradient(to right, var(--light-color1) 0, var(--light-color1) 30vw, var(--color1) 30vw, var(--color1) 100%); */

}

.our-service-container {
  width: 100%;
}

.service-left {
  background-color: var(--color1);
  width: 100%;
  padding: 50px 0;
  text-align: center;
  display: flex;
  margin: auto;
  align-items: center;
  color: var(--color2);
  justify-content: space-evenly;
}

.service-left div {
  /* max-width: 1250px; */
}

.service-right {
  max-width: 1250px;
  /* margin: 50px 0; */
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.service-right h3 {
  color: var(--color3);
}

.stage-content {
  /* margin: 50px 0; */
  border: solid var(--color1) 1px;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
}

.stage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button.spec {
  font-size: 1rem;
  width: 130px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .service-right {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}


/* gallery section  */

.home-page-gallery {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto 10vh auto;
}

.gallery-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 40vw;
}

.gallery-image {
  height: 20vh;
  width: 18vw;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);

}

.gallery-image.drop{
  margin-top: 20px;
  margin-left: 10px;
}

.gallery-info {
  width: 40vw;
  height: auto;
}

.gallery-info p {
  opacity: .7;
  font-size: .8rem;
  margin-bottom: 40px;
  /* font-weight: 2; */
}

.gallery-info h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.gallery-info h3 {
  margin-top: 0;
  font-weight: 200;
}

.gallery-info div {
  border: solid var(--color1) 1px;
  padding: 40px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .home-page-gallery {
    display: block;
    margin: 0 auto 5vw auto;
  }

  .gallery-image-container {
    width: 100%;
    margin-top: 5vw;
  }

  .gallery-image {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);

  }

  .gallery-image.drop{
    margin-top: 0px;
    margin-left: 0px;
  }

  .gallery-info {
    width: 100%;
  }
}
