body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color1: #263d31;
  --light-color1: #3e8964;
  --opacity-color1: #263d31c7;
  --color2: rgb(210, 210, 210);
  --color3: #e2a31d;
  --opacity-color3: #ffae00;
  --text-color: black;

}

/* h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);

} */

a {
  color: var(--color2);
  text-decoration: none;
}

.button {
  background-color: var(--color3);
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);

}

.button:hover {
  background-color: var(--opacity-color3);
  color: white;
}

.button a {
  color: black;
}



button {
  border: none;
  color: black;
  font-size: 1.5rem;
}

.image-layer {
  position: absolute;
  height: 580px;
  width: 45vw;
  left: 0;
  top: 35px;
  z-index: 2;
  border-radius: 10px;
}

.image-layer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.info-layer {
  position: absolute;
  right: 0;
  top: 0;
  width: 55vw;
  height: 650px;
  border: solid var(--color1) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: left;
}

.info-layer.color {
  background-color: var(--color1);
  color: var(--color2);
  border: none;
  overflow: hidden;
}

.info-layer-content {
  padding: 0 5vw 0 15vw;
}

@media only screen and (max-width: 800px) {
  .home-page-about {
    height: 800px !important;
  }
  .image-layer {
    position: absolute;
    height: 300px;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .info-layer-content {
    padding: 0 5vw;
  }

  .image-layer img {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .info-layer {
    position: absolute;
    right: 0;
    top: 300px;
    width: 100vw;
    height: 500px;
    border: none;
    border-radius: 0;
  }

  .info-layer.color {
    background-color: var(--color1);
    color: var(--color2);
    border: none;
    overflow: hidden;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1250px) {
  .info-layer{
    right: 5vw;
  }

  .image-layer {
    left: 5vw;
  }
}


.highlighted-word {
  color: var(--color3);
}
